@charset "utf-8";

/*スクロールを滑らかに*/
html {
  scroll-behavior: smooth;
}

/* bodyのデフォルトを設定 */
body {
	background-color: #f8f4e6;
  color: #2b2b2b;
  font-family:  'Trebuchet MS','Gill Sans';
  margin: 0;
}
  
/* デフォルトのマージンを削除 */
body, h1, h2, h3, p, dl, dd {
  margin: 0;
}

/* リストのスタイルを設定 */
ul {
  list-style: none;
	padding: 0;
	margin: 0;
}

ol {
	padding: 0;
	margin: 0;
}

/* 画像の扱いを簡単にする */
img {
  max-width: 100%;
	vertical-align: bottom;
}

/* リンクのデフォルトを設定 */
a {
	text-decoration: none;
	color: #2b2b2b;
}

a:hover {
	opacity: .7;
}

/* テーブルのデフォルトを設定 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ボックスモデルをborder-boxにする */
*,*::before,*::after {
	box-sizing: border-box;
}

/*loading--------------------*/


/*header--------------------*/

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	padding: 0 30px;
	/* border-bottom: 1px solid #2b2b2b; */
  /*固定*/
	position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
	background-color: #f8f4e6;
	z-index: 1;
}


.logo {
  width: 100%;
}

.logo img {
	line-height: 0;
	width: 200px;
}


/*ハンバーガ―メニュー*/
.hamburger {
  width: 50px;
  height: 50px;
  background-color: #2b2b2b;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  cursor: pointer;
  transition: 0.3s;
	margin: 20px 20px 0 0;
	border-radius: 50px;
}

.hamburger:hover {
  opacity: 0.7;
}
/* ハンバーガーメニューの線の設定（メニューが閉じている時） */
.hamburger span {
  width: 25px;
  height: 2px ;
  background: #fff;
  position: absolute;
  left: 13px;
  transition: 0.3s ease-in-out;
}
/* 1本目の線の位置を設定 */
.hamburger span:nth-child(1) {
  top: 18px;
}
/* 2本目の線の位置を設定 */
.hamburger span:nth-child(2) {
  top: 25px;
}
/* 3本目の線の位置を設定 */
.hamburger span:nth-child(3) {
  top: 32px;
}
/*
ハンバーガーメニューの線の設定（メニューが開いている時）
1本目の線を-45度回転
*/
.hamburger.active span:nth-child(1) {
  top: 23.5px;
  left: 12.5px;
  background :#fff;
  transform: rotate(-45deg);
}
/* 2本目と3本目は重ねて45度回転 */
.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 23.5px;
  background: #fff;
  transform: rotate(45deg);
}
/*
メニューの設定
最初は閉じている状態なので、「opacity: 0;」「visibility: hidden;」
で要素を非表示にしておく
*/
#navi {
  width: 100%;
  height: 100vh;
  background-color: #2b2b2b;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  text-align: center;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  visibility: hidden;
}
/*
ハンバーガーメニューがクリックされた際に、jQueryで#naviにactiveクラスを追加して、
メニューを表示させる。
*/
#navi.active {
  opacity: 1;
  visibility: visible;
}
#navi .logo {
  width: 100px;
  position: absolute;
  top: 40px;
  left: 50px;
}
#navi .menu {
  margin: 80px 0 40px 0;
}
#navi .menu li {
  margin-bottom: 20px;
}
#navi .menu a {
  color: #fff;
  font-weight: normal;
	font-size: 64px;
}
#navi .btn {
  width: 300px;
  border: solid 1px #fff;
	border-radius: 50px;
  color: #fff;
  display: block;
  font-weight: normal;
  padding: 15px 0;
  margin: 0 auto;
  position: relative;
  transition: 0.5s ease-in-out;
}

#navi .btn:hover {
  background-color: #fff;
  color: #2b2b2b;
}
	

/*main--------------------*/


.thanks {
margin: 0 auto;
padding-top: 120px;
}

.thanks p {
  text-align: center;
  font-size: 16px;
  color: #2b2b2b;
  margin-bottom: 20px;
}

.thanks div {
  text-align: center;
  margin-bottom: 60px;
}

.btn {
  border: solid 2px;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 24px;
  font-weight: bold;
  }

  


  /*footer--------------------*/

  footer {
    text-align: center;
    margin-bottom: 30px;
    color: #2b2b2b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
  }


/*sp---------------------------------------------------------------------r*/

	
	@media only screen and (max-width: 780px){

		





	}